<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechFiesta EventHub</title>
  <style>
    body {
      background-image: url('assets\images\home.jpg');
      background-size: cover;
      background-position: center;
      /* Add more background styles as needed */
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark" >
    <a class="navbar-brand" href="/home">TechFiesta Eventhub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/events" routerLinkActive="active">Upcoming TechFiesta Events for all</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/special" routerLinkActive="active">Events for TechFiesta Family Members</a>
        </li>
      </ul>
      <ul class="navbar-nav">
          <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login to EventHub</a>
          <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>        
      </ul>
    </div>
  </nav>    
  <div class="container">
  
    <router-outlet></router-outlet>            
  </div>
</body>
</html>


